.ipynb_checkpoints
.DS_Store
*.numbers
data/shapefiles/geodatabase/*
!data/shapefiles/geodatabase/README.md
!data/shapefiles/geodatabase/2018/.gitinclude
data/state-elections/governors/*
!data/state-elections/governors/scrape.py
data/state-elections/legislatures/old/*
data/synthpops/*
qgis-project/*
notes/*
